APP_NAME=Alzhecare API
DEBUG=true
SECRET_KEY=change_this_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=ChangeMe123!
INITIAL_ADMIN_NOMBRE=Administrador
INITIAL_ADMIN_APELLIDO=Principal
INITIAL_ADMIN_EMAIL=admin@example.com

TORCH_MODEL_PATH=app/models/v1/alzheimer_ensemble_v1.pth
TORCH_LABEL_CLASSES_PATH=app/models/v1/le_classes.pkl
TORCH_DEVICE=auto

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_bucket_name
AWS_S3_BASE_PATH=analyses
SIGNED_URL_EXPIRES_SECONDS=3600

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=roboflow_simple
MONGODB_USERS_COLLECTION=users
MONGODB_ANALYSES_COLLECTION=analyses
